<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}OffTravel{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 160%;
        }

        label {
            width: 70px;

        }


        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 1000px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }

        .accordion__title {
            height: 50px;
            padding: 0 20px;
            margin-top: 5px;
            border: 2px #ececec solid;
            position: relative;
            cursor: pointer;
            font-family: "Dosis", Arial, sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 50px;
            text-transform: uppercase;
        }
        .accordion__title:after {
            content: "\f00d";
            display: inline-block;
            width: 50px;
            height: 100%;
            background-color: #ececec;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            font: normal normal normal 14px/48px FontAwesome;
            font-size: 16px;
            text-align: center;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #999999;
        }
        .accordion__title--active {
            border-color: #29D58E;
            background-color: #29D58E;
            color: #fff;
        }
        .accordion__title--active:after {
            background-color: #27cc88;
            color: #fff;
        }
        .text {
            padding: 20px;
            border: 2px #ececec solid;
            border-top: none;
            font-size: 14px;
            line-height: 24px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('travel_clientindex') }}">All Tours</a>
            <a class="navbar-brand" href="{{ path('travel_travel_moreinfo') }}">More info</a>
        </div>
    </div>
</nav>
<main role="main">
    <div class="container">
        <br>

        {% block body %}{% endblock %}
    </div>
</main>

{% block javascripts %}{% endblock %}
</body>
</html>

